.dropdown{
    display: none;
    margin-left: 160px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.dropdown li{
    background-color:none;
    text-align: center;
    margin-bottom: 2px;
    list-style-type: none;
    width: 90px;
    padding: 3px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}
a:hover{
    color: #FF4D00;
}

.dis{
    display: block;
}

.fa-caret-down{
    font-size: 20px;
    display: inline;
    margin-left: 73px;
}

::-webkit-scrollbar { 
    /* display: none;
    width: 0 !important; */   
    width:5px;     
    border-radius: 10px;          
  }
  
  ::-webkit-scrollbar-track{
    background-color:rgba(255, 76, 0, 0.7);
    
    border-radius: 10px;   
    height:20px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;   
  }