body{
  margin: 0;
  background-color: gray;
}
.container {
  padding: 40px;
  background: rgba(0, 0, 0, 0.80);
  width: 420px;
  margin: 0 auto;
  height: 100vh;
}


.Logo{
        
  font-size: 35px ;
  font-style: italic;
  width: fit-content;
  height: fit-content;
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-style: italic;
  font-weight: 800;
  color: rgb(255, 255, 255);
  margin:0;
  margin-bottom: 30px;
}


.navBox {
  display: flex;
  justify-content: space-between;
}
