body{
  margin: 0;
  background-color: gray;
}
.container {
  padding: 40px;
  background: rgba(0, 0, 0, 0.80);
  width: 420px;
  margin: 0 auto;
  height: 100vh;
}


.Logo{
  font-size: 2.0em;
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  color: #E0E06B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px black;
}

.navBox {
  display: flex;
  justify-content: space-between;
}
