@import '/front/공통_제목과메뉴/upload.css';
@import '/front/공통_제목과메뉴/drop.css';

img{
    margin-top: 10px;
    padding-left:18px;
    width: 180;
    height: 180px;
}

.adtitle{
    box-sizing: border-box;
    width: 139px;
    height: 53px;
    background: #6D70D7;
    border: 1px solid #000000;
    border-radius: 37px;
    margin-top: 10px;
    margin-left: 0.7em;
    
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    
    color: #E0E06B;
    -webkit-text-stroke: 1px black;
}

.line{
    margin:0 auto;
    margin-top: 35px;
    background: #DFDDD8;
    border: 2px solid #000000;
    box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}