@import '/front/공통_제목과메뉴/upload.css';
@import '/front/공통_제목과메뉴/drop.css';

img{
    margin-top: 10px;
    padding-left:18px;
    width: 180;
    height: 180px;
}

.adtitle{
    box-sizing: border-box;
    width: 288px;
    height: 44px;
    background: #1E1E1E;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 3.5em;
    
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    
    color: #FFFFFF;
    /* -webkit-text-stroke: 1px black; */
}

.line{
    margin:0 auto;
    /* margin-top: 10px; */
    background: #1E1E1E;
   
}

#drop{
    color: #FF4C00;
}