/* @import '../공통_제목과메뉴/drop.css'; */

.dropdown{
    display: none;
    margin-left: 160px;
    margin-top: -10px;
    /* margin-bottom: 20px; */
}

.dropdown li{
    background-color:none;
    text-align: center;
    /* margin-bottom: 2px; */
    list-style-type: none;
    width: 90px;
    padding: 3px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}
a:hover{
    color: #FF4D00;
}

.dis{
    display: block;
}

.fa-caret-down{
    font-size: 20px;
    display: inline;
    margin-left: 73px;
}
body{
    margin:0 auto;
}
.container {
    padding: 40px 40px 0 40px;
    background-color: #1E1E1E;
    margin: 0 auto;
    width:420px;
}

.Logo {
    font-size: 2.0em;
    font-family: "Montserrat Alternates";
    font-style:Italic;
    font-weight: 800;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* -webkit-text-stroke: 1px black; */
}

#drop{
    color:#FF4D00;
}
  
.navBox {
    display: flex;
    justify-content: space-between;
}

.contentDiv{
    width:420px;
    height:84vh !important;
    background-color: #1E1E1E;
    margin: 0 auto;
    padding: 30px 40px 40px 40px; 
    
}

.headerDiv{
   margin-left: 20px;
   
}
.contents{
    /* border:4px dashed rgba(0, 0, 0, 0.75); */
    box-shadow: 5px 5px 4px inset rgba(0, 0, 0, 0.15);
    height:66vh;
    border-radius: 25px;   
    padding: 40px;
    overflow-y: auto;  
    overflow-x: hidden;  
}
.contents::-webkit-scrollbar { 
    display: none;
    width: 0 !important; 
    /* width:5px;     
    border-radius: 10px;           */
}
/* .contents::-webkit-scrollbar-track{
    background-color:rgba(255, 76, 0, 0.7);
    
    border-radius: 10px;   
    height:20px;
}

.contents::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;   
} */

.contentsDiv{
    display:grid; 
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-gap: 0.05em;
    margin-top:40px;
    /* background-color: aliceblue; */
}

.mainheader{
    position: relative;
    z-index:3;
    top:1em;
    font-family: "Montserrat Alternates";
    font-style: bold;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    color:white;
    /* -webkit-text-stroke: 1px black; */

    background-color: #1E1E1E;
    
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    text-align:center;
    width: 288px;
    padding:5px;
    margin-left:30px;   
}



.imgDiv{
   /* background-color: #6D70D7; */
   height:150px;
   margin:5px;
   transform : scale(1.2);
}

.imagetape{
    position:relative;
    z-index:2;
    
}

.imgimg{
    z-index:1;   
}
.imgimg:hover{
    transition: 0.2s;
    transform : scale(1.05);
}