body{
    margin: 0;
    background-color: gray;
}
.container {
    padding: 40px;
    background: rgba(0, 0, 0, 0.80);
    width: 420px;
    margin: 0 auto;
    height: 100vh;
}

.Logo-title{
    font-size: 55px ;
    width: fit-content;
    height: fit-content;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-style: italic;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 180px;
}

.Logo-title2{
    
    position: relative;
    top: 180px;
    left: 65px;
    font-family: 'Montserrat Alternates';
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #FF4C00;
}


.id-box, .pw-box{
    display: block;
    font-family: 'Montserrat Alternates';;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgb(255, 255, 255);
    width: 300px;
    height: 35px;
    margin: 0 auto;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
}

.id-box{
    margin-top: 50px;
}

#login-box{
    display: block;
    font-family: 'Montserrat Alternates';;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;

    color: #FFFFFF;
    width: 320px;
    height: 50px;

    background: none;
    border: 2px solid #fff;
    
    border-radius: 37px;

    margin: 0 auto;   
    margin-top: 40px; 
}

