@import '../공통_제목과메뉴/drop.css';

body{
  margin: 0;
  background-color: gray;
}
.container {
  padding: 40px;
  background-color: #DFDDD8;
  width: 420px;
  margin: 0 auto;
}

.Logo {
  font-size: 2.0em;
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  color: #E0E06B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px black;
}

.navBox {
  display: flex;
  justify-content: space-between;
}

.uploadBtn_div {
  float: right;
  margin-top: 1em;
  margin-bottom: 2em;
}

.uploadBtn {
  width: 4em;
  height: 2em;
  font-size: 1.0em;
  box-shadow: 0 4px 4px -4px rgb(171, 170, 170);
  border: 2px solid rgb(232, 232, 232);
  background-color: white;
  color: gray;
  border-radius: 4px;
  margin-top: 1.5em;
}

.uploadTitle_div {
  clear: both;
  margin-bottom: 1em;
}

.uploadTitle {
  font-size: 2.0em;
  width: 100%;
  height: 3em;
  border: none;
  border-bottom: 1px solid #CCC;
  background-color: #DFDDD8;
}

.uploadMenu {
  display: flex;
  flex-direction: row;
  float: right;
  margin-bottom: 4em;
  margin-top: 1em;
}

.menuDate {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  color: rgb(171, 170, 170)
}

.memenuImgLetter {
  margin-top: 0.5em;
}

.menuDateLetter {
  margin-top: 0.5em;
}

.imgFile {
  margin-top: 0.5em;
}

.menuImg {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  color: rgb(171, 170, 170)
}

.menuImgLetter {
  margin-top: 0.5em;
  
}

.menuPlace {
  padding-right: 30px;
  color: rgb(171, 170, 170);
  display: flex;
  flex-direction: column;
}

.menuPlaceLetter {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  color: rgb(171, 170, 170);
}

.menuTag {
  padding-right: 30px;
  color: rgb(171, 170, 170);
  display: flex;
  flex-direction: column;
}

.menuTagLetter {
  margin-top: 0.5em;
}

.uploadTextarea {
  clear: both;
  width: 100%;
  height: 30em;
  resize: none;
  font-size: 1.3em;
  border: none;
  background-color: #DFDDD8;
}

.main {
  text-align: center;
}

.fa-calendar-days {
  color: rgb(171, 170, 170)
}

.fa-image {
  color: rgb(171, 170, 170)
}

.fa-location-dot {
  color: rgb(171, 170, 170)
}

.fa-tag {
  color: rgb(171, 170, 170)
}

#datepicker {
  border: 1px solid rgb(171, 170, 170);
  border-radius: 4px;
  margin-top: 0.5em;
}

form input::file-selector-button {
  display: none;
}

#imgFile {
  width: 100px
}

input[type="file"] {
    display: none;
}