@import '/front/공통_제목과메뉴/drop.css';

body{
  margin: 0;
  background-color: gray;
}
.container {
  padding: 40px;
  background-color: #DFDDD8;
  width: 420px;
  margin: 0 auto;
  overflow: scroll;
  height: 100vh;
}

.Logo {
  font-size: 2.0em;
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  color: #E0E06B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px black;
}

.navBox {
  display: flex;
  justify-content: space-between;
}

.page{
  text-align: center;
  border: solid;
  border-radius: 20px;
  margin-top: 1em;
  overflow: hidden;
}

#circle{
  border: solid;
  border-width: 1.5px;
  border-radius: 50%;
  background-color: #6D70D7;
  width: 6.3em;
  height: 6.3em;
  margin: auto;
  position: relative;
  top: 4em;
}

.page-text{
  margin-top: 4em;
}

.edit{
  background-color: #E0E06B;
  width: 370px;
  height: 30px;
  border-radius: 5px;
  border: solid;
  margin-left: 12px;
}
label{
  cursor: pointer;
  font-size: 1em;
}
#chooseFile{
  visibility: hidden;
}
.view{
  background-color: #E0E06B;
  border-radius: 3px;
  height: 33px;
  width: 33px;
}
.ang{
  font-size: 17px;
}
.cam{
  font-size: 27px;
  margin-top: 1em;
  margin-right: 13em;
}
.pic-num{
  margin-right: 17em;
  margin-top: -1.5em;
}

.view-p{

  display: block;
  margin-left: 22em;
  margin-top: -2.1em;
  width: 30px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #E0E06B;
  border: 2px solid #000000;
  border-radius: 4px;
  }



.view-but{  
  display: block;
  margin-top: -2.7em;
  margin-left: 19.5em;
  background: #6D70D7;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 80px;
  height: 33px;
}

.dropyear{
  display: none;
  margin-top: 0px;
  margin-left: 310px;
}

.dropyear li{
  background-color: #E0E06B;
  border-radius: 13px;
  border: 2px solid black;
  text-align: center;
  color: #000;
  margin-top: 7px;
  list-style-type: none;
  width: 70px;
  padding: 3px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
}


.dis2{
  display: block;
}

.img-iu{
  width: 150px;
  margin-left: -230px;
  margin-top: 2em;
}
#p1{
  font-size: 14px;
  position: sticky;
  margin-left: -16em;
  margin-bottom: -2em;
}
.img-iu2{
  width: 150px;
  display: flex;
  margin-left: 11em;
  margin-top: -0.6em;
}
#p2{
  font-size: 14px;
  margin-left: 10em;
  margin-top: -16.3em;
}
.img-1{
  width: 150px;
  margin-left: -14.5em;
  margin-top: -0.5em;
}
#p3{
  font-size: 14px;
  margin-top: 2em;
  margin-left: -16em;
}
.img-2{
  width: 150px;
  margin-left: 9em;
  margin-top: -0.4em;
}
#p4{
  font-size: 14px;
  margin-top: -16.4em;
  margin-left: 10em;
}
.img-3{
  width: 150px;
  margin-left: -14.5em;
  margin-top: -0.3em;
}
#p5{
  font-size: 14px;
  margin-top: 2em;
  margin-left: -17em;
}
.img-4{
  display: flex;
  width: 150px;
  margin-left: 11em;
  margin-top: -0.3em;
}
#p6{
  font-size: 14px;
  margin-top: -18em;
  margin-left: 10em;
}
.img-5{
  display: flex;
  width: 110px;
  margin-top: 0.3em;
  margin-left: 0.6em;
}
#p7{
  font-size: 14px;
  margin-top: 4em;
  margin-left: -17em;
}
.img-6{
  display: flex;
  width: 110px;
  margin-left: 12em;
  margin-top: 0.3em;
}
#p8{
  font-size: 14px;
  margin-left: 9em;
  margin-top: -28em;
}
.img-7{
  display: flex;
  width: 110px;
  margin-left: 0.7em;
}
#p9{
  font-size: 14px;
  margin-top: 3em;
  margin-left: -16em;
}
.img-8{
  display: flex;
  width: 110px;
  margin-left: 12em;
  margin-top: -0.3em;
}
#p10{
  font-size: 14px;
  margin-top: -27.2em;
  margin-left: 10em;
}

li{
  list-style: none;
}

.view{
  cursor: pointer;
}

.list li.is-hidden {
  opacity: 0;
  height: 0;
  margin: 0;
}

.image-show{
  margin-top: 3em;
}